<div class="card">
    <div class="card-body margin">
        <h2 class="center">Editing Book</h2>
        <br/>
        <%= render 'form', book: @book %>

        <br/>
        <div class="center">
            <%= link_to 'Show', @book, class:"btn btn-primary white btn-width" %> 
            <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger white btn-width" %> 
            <%= link_to 'Back', books_path, class:"btn btn-dark white btn-width" %> 
        </div>
    </div>
</div>
