<div class="card">
    <div class="card-body margin">
        <h2 class="center">New Book</h2>

        <%= render 'form', book: @book %>
        <div class="center">
            <%= link_to 'Back', books_path, class:"btn btn-dark white btn-width" %>
        </div>        
    </div>
</div>
        